.searchInput{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
}
.searchInput:focus{
    outline: none;
}
.searchBar{
    align-items: center;
    display: flex;
    background-color: #E9EEF6;
    border-radius: 20px;
    width: 100%;
    padding: 1px;
}
body.dark .searchBar {
    background-color: #3C4043;
}

body.dark .searchInput:focus {
    outline: none;
}


body.dark .searchInput {
    background-color: #3C4043;
    color: #E0E0E0;
}



