.mail-item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    background-color: #F2F6FC;
    max-width: 100%;
    box-sizing: border-box;
}

.mail-item:hover {
    background-color: #f5f5f5;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border:2px solid #dddddd
    
}
.mail-options {
    display: flex;
    opacity: 0;
    transition: opacity 0.2s;
}

.mail-item.unread {
    background-color: #ffffff;
    font-weight: 600;
}

.mail-item.read {
    background-color: #F2F6FC;
    font-weight: 400;
    color: #5f6368;
}

.mail-checkbox {
    margin-right: 12px;
    transition: opacity 0.2s;
}
.mail-item-actions{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.mail-item:hover .mail-item-actions{
    opacity: 1;
}

.mail-checkbox input {
    cursor: pointer;
}


.mail-sender {
    width: 200px;
    flex-shrink: 0;
    font-size: 14px;
    color: #202124;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mail-item.read .mail-sender {
    color: #5f6368;
}

.mail-content {
    flex: 1;
    margin-right: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-width: 0;
    max-width: 20%;
}

.mail-subject {
    color: #202124;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-item.read .mail-subject {
    color: #5f6368;
}

.mail-preview {
    color: #5f6368;
    font-size: 14px;
    margin-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.mail-date {
    font-size: 12px;
    color: #5f6368;
    white-space: nowrap;
    width: 80px;
    text-align: right;
}
.select-all {
    cursor: pointer;
}
.starred {
    font-variation-settings: 
      'FILL' 1,
      'wght' 300,
      'GRAD' 0,
      'opsz' 48;
    color: #fbb034;
}

.icon-mail-item.unstarred:hover {
    color: #fbb034;
    font-variation-settings: 
      'FILL' 1
}



body.dark .mail-item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #333333;
    cursor: pointer;
    background-color: #161616;
    max-width: 100%;
    box-sizing: border-box;
}
body.dark .mail-item:hover {
    background-color: #202124;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border:2px solid #333333;
}
body.dark .mail-item.unread {
    background-color: #42444b;
    font-weight: 600;
}
body.dark .mail-checkbox , .mail-content , .mail-sender,
.mail-subject, .mail-preview, .mail-date {
    color: #e0e0e0;
}

.loading, .error, .no-emails {
    text-align: center;
    padding: 40px;
    color: #5f6368;
    font-size: 16px;
}

.error {
    color: #d93025;
}
