.sideBarOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 0 18px;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
    transition: width 0.2s ease;
}
.sideBarOption:hover {
    background-color: #EBEDF0;
}
.sideBarOption:focus {
    outline: none;
    background-color: #e8f0fe;
}

.sideBarOption.selected {
    background-color: rgb(211,227,254);
    font-weight: 500;
}

.sideBarOption.selected .icon-sidebar ,
.sideBarOption.selected .sideBarText {
    color: #000000;
    font-weight: 600;
    font-variation-settings: 'FILL' 1
}

.sideBarText {
    font-size: 14px;
    color: #3c4043;
    font-weight: 400;
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: none;
}

.sideBar:hover .sideBarText ,
.sideBar.open .sideBarText{
    opacity: 1;
    width: auto;
    padding-left: 8px;
}
.sideBar.open .sideBarOption,
.sideBar:hover .sideBarOption {
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
    padding-left: 26px;
    width: 256px;
    border-radius: 0 20px 20px 0;
}


.sideBarOption.compose {
    height: 56px;
    width: 56px ;
    margin: 8px;
    border:none ;
    border-radius: 16px;
    background-color: #c2e7ff;
    color: #001d35;
    cursor: pointer;
    transition: none;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

.sideBarOption.compose:hover {
    background-color: #a8dadc;
    box-shadow: 0 1px 3px 0 rgba(60,64,67,.3), 0 4px 8px 3px rgba(60,64,67,.15);
}

.sideBarOption.compose .icon-sidebar {
    color: #001d35;
    font-size: 24px;
}
.sideBarOption.compose .sideBarText {
    position: absolute;
    left: 55px;
    white-space: nowrap;
    transition: opacity 0.2s ease;
    color: #001d35;
    font-weight: 500;
}

body.dark .sideBarOption:hover {
    background-color:#414141
}

body.dark .sideBarText ,
body.dark .material-symbols-outlined {
    color: white;
}
body.dark .sideBarOption.selected {
    background-color: #595959;
}

body.dark .sideBarOption.selected .icon-sidebar ,
body.dark .sideBarOption.selected .sideBarText {
    color: white;
}

body.dark .sideBarOption.compose .material-symbols-outlined,
body.dark .sideBarOption.compose .sideBarText {
    color: #5F6369;
}
body.dark .sideBarOption.compose {
    background-color: #FFFFFF;
    color: #5F6369;
}

body.dark .sideBarOption.compose:hover {
    background-color: white;
}