/* SideBar.css */
.sideBar {
    width: 72px;
    height: 100%;
    display: grid;
    align-content: start;
    justify-content: start;
    transition: width 0.4s ease;
}

.sideBar.open,
.sideBar:hover {
    width: 256px;
}

/* כותרת Labels */
.LabelsHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px 11px;
}

.LabelsHeaderText {
    font-size: 14px;
    font-weight: 500;
    color: #5f6368;
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.sideBar.open .LabelsHeaderText,
.sideBar:hover .LabelsHeaderText {
    margin-left: 16px; 
    width: auto;
    opacity: 1;
}
.label-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 11px;
}
.sideBar.open .LabelsHeader,
.sideBar:hover .LabelsHeader {
    justify-content: space-between;

}

body.dark .LabelsHeaderText {
    color: #e0e0e0;
}
