.sideBarOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 8px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: left;
    width: calc(100% - 16px);
    overflow: hidden;
}

.sideBarOption:hover {
    background-color: #EBEDF0;
}
.sideBarOption:focus {
    outline: none;
    background-color: #e8f0fe;
}


.sideBarText {
    font-size: 14px;
    color: #3c4043;
    font-weight: 400;
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0s ease;
    white-space: nowrap;
    width: 0;
    text-align: center;
    overflow: hidden;
}
.sideBarOption::selection .material-symbols-outlined{
    font-weight: 200;
}

.sideBarOption .material-symbols-outlined {
    font-size: 20px;
    color: #5f6368;
    margin-right: 12px;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
    transition: all 0.2s ease;
} 


/* הצגת הטקסט כאשר ה-SideBar מורחב */
.sideBar:hover .sideBarText {
    opacity: 1;
    transform: translateX(0);
    width: auto;
    transition-delay: none; 
}

.sideBar.open .sideBarText {
    opacity: 1;
    transform: translateX(0);
    width: auto;
    transition: none;
}

/* Selected state styles */
.sideBarOption.selected {
    background-color: rgb(211,227,254);
    font-weight: 500;
    text-align: center;
}

.sideBarOption.selected .material-symbols-outlined {
    color: #000000;
    font-weight: 600;
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 20;
}

.sideBarOption.selected .sideBarText {
    color: #000000;
    font-weight: 600;
}
body.dark #compose {
    background-color: #FFFFFF;
    color: #5F6369;
}
body.dark #compose .sideBarText {
    color: #5F6369  !important;
}

body.dark .sideBarOption:hover {
    background-color:#414141
}
body.dark .sideBarText , body.dark .material-symbols-outlined{
    color: white;
}
body.dark .sideBarOption.selected {
    background-color: #595959;
    color: white;
}
body.dark #compose .material-symbols-outlined {
    color: #5F6369;
}

body.dark .sideBarOption.selected .material-symbols-outlined {
    color: white;
}
