.iconButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.iconButton:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}                                                                                                                                                                                    
#compose-button {
    background-color: #d93025;
    color: white;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.material-symbols-outlined {
    font-size: 30px;
    color: #5f6368;
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 50;
}