.iconButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 2px;
}                                                                                                                                                                                  

.iconButton:hover .icon-header {
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}