.mail-list{
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
}
h2{
    margin: 0;
    padding-left: 15px;
    text-align: center;
    color: #202124;
}
p {
    margin: 0;
    padding-left: 15px;
    color: #5f6368;
    font-size: 14px;
}