.main-layout {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.main-layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 0;
}