.main-layout {
  display: static;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-shrink: 0;
  height: 100vh;
  width: 100%;
}

.main-layout-body {
  display: flex;
  flex: 1;
  overflow: hidden ;
}

.content {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  padding-right: 12px;
  padding-bottom: 12px;
  min-width: 600px;
  max-height: 710px;
  max-width: 90%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

body.dark .content {
  background-color: #2C2C2C;
}
