.App {
  height: 100vh;
  overflow: hidden;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Google Sans', Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #F8FAFD;
  color: #202124;
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: #111111;
  color: #e0e0e0;
}
body.dark  h2{
    color:white
}
body.dark p {
    color: #E0E0E0;
}

body.dark ::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

body.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
:root {
  --sb-bg: #111111;
  --sb-thumb-bg: #555;
  --sb-thumb-bg-hover: #777;
}