.App {
  height: 100vh;
  overflow: hidden;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Global styles */
* {
  box-sizing: border-box;
}


body.dark {
  background-color: #111111;
  color: #e0e0e0;
}
body.dark  h2{
    color:white
}
body.dark p {
    color: #E0E0E0;
}

/* Error message */
.error {
  color: #d93025;
  font-size: 12px;
  margin-bottom: 8px;
}