:root{
  font-family: "Heebo", system-ui, -apple-system, "Segoe UI",
  Roboto, "Noto Sans Hebrew", "Noto Sans",
  "Helvetica Neue", Arial, sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
button,input,select,textarea {
  font: inherit;
}
