.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: transparent;
  min-height: 64px;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
  flex-shrink: 0; 
  gap: 8px;
  margin-right: 70px;
}
.header-center {
  display: flex;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  gap: 8px;
  margin-right: 20px;
  min-width: 150px;
}

.header-right {
display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 8px;
}