.header {
  display: flex;
  align-items: center;
  min-width: 160px;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 6px 8px;
}

.header-left {
  display: flex;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 48px;
  padding-right: 30px;
  flex:1 0 auto;
}
.header-center {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: flex-end;
  white-space: nowrap;
  flex: 1 1 100%;
  height: 48px;
  gap: 8px;
  margin-right: 20px;
  min-width: 150px;
}

.header-right {
  display: flex;
  align-items: center;
  line-height: normal;
  height: 48px;
  padding: 0 4px;
  flex : 0 0 auto;
  justify-content: flex-end;
  gap: 8px;
}
.gmail-logo {    
  position: relative;
  overflow: hidden;
  top: 2px;
  align-items: center;
}