.theme-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
}
.theme-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C5C5C5;
    border-radius: 34px;
    transition: 0.4s
}

.slider::before {
    content: "light_mode";
    font-family: 'Material Symbols Outlined';
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    top: 3px;
    background-color: #C5C5C5;
    color: #4E4F50;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    transition: transform 0.4s , background-color 0.4s, color 0.4s;
}

input:checked + .slider {
    background-color: #4E4F50;
}

input:checked + .slider::before {
    transform: translateX(16px);
    content: "dark_mode";
    background-color: #2b2b2b;
    color : #C5C5C5;
}

.theme-switch input:not(:checked) + .slider::before {
  content: "light_mode";
}

.theme-switch input:checked + .slider::before {
  content: "dark_mode";
}

.label-text {
    font-size: 16px;
    font-weight: 500;
    color: #4E4F50;
    transition: color 0.4s ;
}

.label-text.Dark {
    color: #C5C5C5; /* White in dark mode */
}

